# from my.telegram.org/apps
API_ID=39591192
API_HASH=93635783ddd5e3eacfc512effe2e3de2

# from @BotFather on telegram
BOT_TOKEN=8695582247:AAF8MjBrYrqpyexFvQyHinaN3d-Rg6ocGbY
LOGGER_ID=-1003725906684

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://titanic_music:Nishkarsh123@titanicmusic.2idopkn.mongodb.net/?appName=Titanicmusic

OWNER_ID=8791884726

# pyrogram session from @StringFatherBot on telegram
SESSION=
